<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <h2>{{title}}</h2>
    <p>Created by {{name}}</p>


    <img class="portrait" src="/img/avatar_11.jpg" alt="">  <!-- absolute path do site root foldera public/, kreće sa / -->
</body>
</html>